.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn {
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}

button {
    width: 80%;
    border-radius: 1rem;
}

button:hover {
    color: white;
    font-size: 1rem;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(37, 97, 207, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    width: 100%;
    text-align: center;
}

.edit {
    color: rgb(0, 153, 255);
}

.delete {
    color: rgba(255, 0, 0, 0.87);
}